.form-validation{
    margin: auto;
}
.form-validation input{
    margin-left: 30px;
}
.name {
    
    vertical-align: middle;
    height: 70px;
}
.email{
  
    vertical-align: middle;
    height: 70px;  
}
.phone{
    
    vertical-align: middle;
    height: 70px;
    margin-right: 70px;
}
input::placeholder{
    text-align: center;
    color: blue;
}